# Ignore all files except specified directories
*

# Allow VS Code configuration
!.vscode
!.vscode/*

# Allow configuration directories
!config
!config/.gitkeep
!config/caddy
!config/caddy/Caddyfile

# Allow script files
!script
!script/*

# Allow data directory
!data
!data/.gitkeep

# Allow project files
!.env.sample
!.gitignore
!docker-compose.yml
!Makefile
!README.md

